{% extends 'base.html' %}

{% block title %}title{% endblock %}

{% block content %}
    {% if request.user.is_authenticated and request.user.id == post.user.id %}
        <a href="{% url 'posts:post_delete' post.user.id  post.id %}">Delete post</a>
        <a href="{% url 'posts:post_edit' post.user.id  post.id %}">Edit post</a>
    {% endif %}
    <div class="card ">
        <p class="card-header">{{ post.user }} | {{ post.created|date }}</p>
        <p class="card-body">{{ post.body }}</p>
    </div>
    <br /><br /><hr /><br />
    {% if request.user.is_authenticated %}
        <form action="" method="POST" class="col-md-6">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send Comment" class="btn btn-primary" />
        </form>
    {% else %}
        <p class="card-header">only logged in users can send comments</p>
    {% endif %}
    <br /><hr /><br /><br />
    <p>this post has {{ count_comments }} comments</p>
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user }}</p>
            <p class="card-header">{{ comment.body }}</p>
        </div>
        <br />
    {% empty %}
        <div class="card bg-dark text-white">
            <p class="card-header"> no comment </p>
        </div>
    {% endfor %}
{% endblock %} 